<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">

    <title>userDetails</title>


</head>
<body>

    <div>
        <div>
           <h3>Id :</h3>
            {{user.id}}
        </div>

        <div>
           <h3>Name :</h3>
           {{user.firstName}}
        </div>

        <div>
           <h3>Email :</h3>
           {{user.email}}
        </div>

        <div>
           <h3>Password :</h3>
           {{user.password}}
        </div>

        <div>
            <h3>Age :</h3>
            {{user.age}}
        </div>

        <div>
            <h3>City :</h3>
            {{user.city}}
        </div>
    </div>

</body>